/* Form.module.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Desactivar desplazamiento horizontal */
    overflow-y: auto;  /* Permitir desplazamiento vertical si es necesario */
  }

/* Estilos para el contenedor principal */
.formContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilos para la sección izquierda */
  .leftSection {
    flex: 1;
    padding: 20px;
    /* background-color: #f0f0f0; */
  }
  
  /* Estilos para la sección derecha */
  .rightSection {
    flex: 1;
    padding: 20px;
    /* background-color: #e0e0e0; */
  }
  
  /* Estilos compartidos para los encabezados */
  .mainContainer,
  .formproductosH1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  